h1 {
    margin: auto;
    width: 50%;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}

p {
    text-align: center;
    color: turquoise;
}

#entries {

}

#enter {

}

h3 {
    color: red;
    text-align: center;
}